@page "/"

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto ipsam a, ratione tenetur voluptatem, iste reiciendis illum iure explicabo et sint voluptatibus ad obcaecati vitae quam consequatur id temporibus minima.</p>

<div class="blue-box"></div>